@use "../utils/variables" as vars;

.highcharts-container {
  min-height: 400px;
  margin: 1rem 0;
}

.chart-card {
  background: white;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: vars.$shadow-sm;
}
